# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/

# Build
build/
**/build/

# Android
android/.gradle/
android/app/build/
*.keystore

# Windows
windows/flutter/ephemeral/

# VSCode / IDE
.idea/
.vscode/
*.iml
