gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/

# Build
build/
**/build/

# Android
android/.gradle/
android/app/build/
*.keystore

# Windows
windows/flutter/ephemeral/

# VSCode / IDE
.idea/
.vscode/
*.iml


